.banner-principal__img
  img
    animation: float 6s ease-in-out infinite

@keyframes float
  0%
    transform: translatey(0px)
  50%
    transform: translatey(-20px)
  100%
    transform: translatey(0px)

.banner-principal__componente
  h1
    color: #0a4d8f !important

.banner-principal__img img
  width: 60%
  max-width: 60%
  margin-left: auto

.BG01, .BG01Hov, .tarjeta-flip.color-primario .tarjeta-flip__img, .tarjeta-flip.color-primario .tarjeta-flip__contenido, .tarjeta-numerada.color-primario .tarjeta-numerada__numero, .pasos-a.color-primario .pasos-a__circle
  background-color: lighten($color-primario, 15%) !important
.BG02, .BG02Hov, .tarjeta-numerada.color-secundario .tarjeta-numerada__numero
  background-color: lighten($color-secundario, 15%) !important
.BG03, .BG03Hov, .tarjeta-flip.color-acento-contenido .tarjeta-flip__img, .tarjeta-flip.color-acento-contenido .tarjeta-flip__contenido, .tarjeta-numerada.color-acento-contenido .tarjeta-numerada__numero
  background-color: lighten($color-acento-contenido, 22%) !important
.BG04, .BG04Hov, , .tarjeta-flip.color-acento-botones .tarjeta-flip__img, .tarjeta-flip.color-acento-botones .tarjeta-flip__contenido, .tarjeta-numerada.color-acento-botones .tarjeta-numerada__numero
  background-color: lighten($color-acento-botones, 20%) !important

.BG10, .BG01Hov:hover, .bloque-texto-a.color-secundario::before, 
  background-color: lighten($color-primario, 31%) !important
.BG20, .BG02Hov:hover,
  background-color: lighten($color-secundario, 31%) !important
.BG30, .BG03Hov:hover, .cajon-b.color-acento-contenido::before, 
  background-color: lighten($color-acento-contenido, 31%) !important
.BG40, .BG04Hov:hover, 
  background-color: lighten($color-acento-botones, 31%) !important

.tarjeta-numerada.color-primario
  border-color: lighten($color-primario, 15%) !important
.tarjeta-numerada.color-secundario
  border-color: lighten($color-secundario, 15%) !important
.tarjeta-numerada.color-acento-contenido
  border-color: lighten($color-acento-contenido, 15%) !important
.tarjeta-numerada.color-acento-botones
  border-color: lighten($color-acento-botones, 15%) !important
.BG31
  background-color: lighten($color-acento-contenido, 36%) !important

.BG00
  background-color: $color-sistema-h !important

.BG011
  background-color: $color-sistema-f !important

.bloque-texto-a.color-secundario
  background-color: $color-primario

.BR01
  border-radius: 18px

.BR02
  border-radius: 34px

.cajon-b.color-primario::before
  opacity: .20

.Clist01
  li
    i
      color: $color-primario !important

.Bf01
  position: relative !important
  &::before
    content: ""
    background-color: lighten($color-primario, 31%) !important
    display: block
    position: absolute
    top: 0
    left: 0
    right: 50%
    bottom: 0
  
.Bf11
  position: relative !important
  &::before
    content: ""
    background-color: lighten($color-primario, 31%) !important
    display: block
    position: absolute
    top: 0
    left: 25%
    right: 0
    bottom: 0

.Bf02
  position: relative !important
  &::before
    content: ""
    background-color: lighten($color-acento-contenido, 34%) !important
    display: block
    position: absolute
    top: 0
    left: 0
    right: 50%
    bottom: 0

.LeftBord
  border-left: 2px solid $color-sistema-f

.H01
  min-height: 480px

.bgImg01
  background-image: url("../assets/curso/tema1/img12.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.pasos-a.color-primario .pasos-a__circle div
  color: $white

.Edit01
  border: none !important
  .tarjeta-numerada__numero
    top: 50% !important
    transform: translateX(-50%) translateY(-50%) !important

.linea-tiempo-d__item__content
  background: linear-gradient(0deg, rgba(255,251,235,1) 0%, rgba(209,240,255,1) 100%) !important

.Sttable01
  border-top: 4px solid $color-acento-contenido
  background-color: $white
  table-layout: auto

.Hdf1
  height: 120px

.Hdf2
  height: 250px
  